*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    gap: 15px;
    
}

.links a{
    color: black;
    text-decoration: none;
}

.hero-section{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)),url(assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section h1{
    color: red;
}



h1{
    text-align: center;
    padding: 10px 0px;
}

.card{
    width: 300px;
    height: max-content;
    border: 1px solid black;
    border-radius: 16px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parentOfCards{
    padding: 25px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.card img{
 width: 100%;
 height: 250px;
 border-radius: 16px;
}

.btngroup{
    display: flex;
    justify-content: space-between;
}
.btngroup button{
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: gray;
    display: flex;
    padding: 30px;
}

.footer div{
    width: 25%;
    height: 100%;
    color: white;
    padding: 30px;
}

.footer div ul{
    list-style-type: none;
}

